h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

p {
    margin-left: 15px;
}

.logo {
    max-width: 100px;
}

.image {
    max-width: stretch;
}

.liveNow {
    color: #EE6649;
}